<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto green_traslucid_back">
            <h1 class="mb-1 shadower">CATSTATION</h1>
            <h3 class="mb-5 shadower">
                <em>GAS AND CATS EVERYWHERE</em>
            </h3>
            <a class="btn btn-success btn-lg shadower" href="/signin">
                 INICIAR SESIÓN
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>